<ul>
	<div> <li> <%=@task.note %></li> <br> 
	
	<p> created_on </p>
	<li><%= @task.created_on %> </li></div> <br>
    <li> completed </li><br>
	<li><%= @task.completed_at %> </li> <div> <br>
</ul>
	