<ol>
	<div> <li> <%=@task.note %> <br> 
	
	          <p> created_on </p>
	            <%= @task.created_on %>  <br>
              <p> completed   </p>
	           <%= @task.completed_at %> 
          </li> 
	</div> 
</ol>
	